/* Global */

@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Epilogue", sans-serif; */

* {
	box-sizing: border-box;
	font-family: "Epilogue", sans-serif;
}

html {
	scroll-behavior: smooth;
	min-width: 375px;
}

:root {
	/*Spacers*/
	--tinySpacer: 5px;
	--smallSpacer: 25px;
	--mediumSpacer: 50px;
	--largeSpacer: 75px;
	--hugeSpacer: 100px;
	/*Farver*/
	--colorDeepForest: #2e4600; /* Mørk grøn */
	--colorFernLeaf: #588c42; /* Midt grøn */
	--colorFreshMint: #82b56d; /* Lys grøn */
	--colorClearSky: #87ceeb; /* Lys blå */
	--colorPaleStone: #f5f1e4; /* Sten grå */
}

.base {
	max-width: 1280px;
	justify-self: center;
}

/* Velkommen */
/* Nyheder */
/* Klub Aktiviteter */
/* -- Træningsløb */
/* -- Voksne/familier */
/* -- Børn/unge */
/* -- RSOK’kerne */
/* -- Om O-kort */
/* Praktisk Info */
/* -- Kontakt */
/* Indmeldelse */
/* -- Nyt Medlem */
/* -- Kontingent */
/* Links */

/* Media */
@media screen and (min-width: 1281px) {
}
