/* Global */

@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Epilogue", sans-serif; */

* {
	box-sizing: border-box;
	font-family: "Epilogue", sans-serif;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	min-width: 400px; /* TEST */
}

:root {
	/*Spacers*/
	--microSpacer: 5px;
	--tinySpacer: 10px;
	--smallSpacer: 25px;
	--mediumSpacer: 50px;
	--largeSpacer: 75px;
	--hugeSpacer: 100px;
	/*Farver*/
	--colorDeepForest: #2e4600; /* Mørk grøn */
	--colorFernLeaf: #588c42; /* Midt grøn */
	--colorFreshMint: #82b56d; /* Lys grøn */
	--colorClearSky: #87ceeb; /* Lys blå */
	--colorPaleStone: #f5f1e4; /* Sten grå */
}

.bgPaleStone {
	background-color: var(--colorPaleStone);
}

/* Velkommen */

.velkommenHeader {
	color: white;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--colorFernLeaf);
	margin-bottom: var(--mediumSpacer);
}

.velkommenBlock1 {
	width: 100%;
	padding: 0 var(--smallSpacer);
}

.velkommenBlock1Sub {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: var(--smallSpacer) 0;
}

.velkommenBlock1Sub p {
	max-width: 60ch;
	margin-bottom: var(--smallSpacer);
}

.velkommenBlock2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--smallSpacer) 0;
	margin: var(--smallSpacer) 0;
	margin-bottom: var(--mediumSpacer);
}

.velkommenBlock2Sub {
	justify-content: space-evenly;
}

.velkommenBlock2Sub li {
	margin: var(--tinySpacer);
	max-width: 24ch;
}

.velkommenBlock3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: var(--smallSpacer);
}

.velkommenBlock3Sub1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: var(--smallSpacer);
	padding-top: var(--smallSpacer);
}

.velkommenBlock3Sub2 {
	margin: var(--smallSpacer);
}

.velkommenBlock3Sub2 li {
	margin: var(--tinySpacer);
	max-width: 48ch;
}

/* Nyheder */

.basicHeader {
	color: white;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	height: 75px;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--colorFernLeaf);
	margin-bottom: var(--mediumSpacer);
}

/* Klub Aktiviteter */
/* -- Træningsløb */
/* -- Voksne/familier */
/* -- Børn/unge */
/* -- RSOK’kerne */
/* -- Om O-kort */
/* Praktisk Info */
/* -- Kontakt */
/* Indmeldelse */
/* Links */

.linkBox {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: var(--smallSpacer) 0;
}

.linkBoxItem {
	min-height: 60px;
	display: flex;
	align-items: center;
	padding: 0 var(--tinySpacer);
	border: 1px solid black;
}

/* Header */

.headerfull {
	height: 150px;
	width: 100%;
	background-image: url("../images/header/banner11.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-between;
	gap: 1ch;
	padding: var(--smallSpacer) var(--smallSpacer);
}

.headerfull img {
	width: 100px;
	height: 100px;
}

.headerMobNav {
	position: relative;
	display: flex;
	align-items: center;
}

#headerMobNavButton {
	display: none;
}

.headerMobNav > a {
	font-size: 1.25rem;
	color: white;
	text-align: center;
	text-decoration: none;
	width: 150px;
	margin: -2px var(--tinySpacer);
	padding: var(--tinySpacer);
	padding-top: 12px;
	border-radius: var(--smallSpacer);
	background-color: var(--colorFernLeaf);
}

.headerMobNav > a:hover {
	background-color: var(--colorClearSky);
}

.headerMobNavMenu {
	padding: var(--tinySpacer);
	border: none;
	background: none;
	cursor: pointer;
}

.headerMobNavDropper {
	display: none;
}

.headerMobNavDropper a {
	display: block;
	color: black;
	font-size: 1rem;
	text-align: right;
	text-decoration: none;
	padding: var(--tinySpacer) 10px;
}

.headerMobNavDropper a:hover {
	background-color: var(--colorClearSky);
	border-radius: var(--tinySpacer);
}

#headerMobNavButton:checked ~ .headerMobNavDropper {
	position: absolute;
	top: 80px;
	right: 5px;
	min-width: 8rem;
	background-color: white;
	border: var(--tinySpacer) solid white;
	border-radius: var(--tinySpacer);
	box-shadow: 0 0.5rem 1rem black;
	z-index: 10;
	display: block;
}

.headerDeskNav {
	height: 2.5rem;
	padding: 0 var(--microSpacer);
	margin: var(--smallSpacer) 0 var(--largeSpacer);
	border-radius: var(--smallSpacer);
	background-color: var(--colorPaleStone);
	justify-content: space-between;
	align-items: center;
}

.headerDeskNav a {
	color: black;
	min-width: 7 ch;
	text-align: center;
	text-decoration: none;
	padding: var(--tinySpacer);
	border-radius: var(--smallSpacer);
}

.headerDeskNav a:last-of-type {
	max-width: unset;
	min-width: unset;
	font-size: 1.25rem;
	color: white;
	width: 150px;
	margin: -5px;
	padding-top: 15px;
	border-radius: var(--smallSpacer);
	background-color: var(--colorFernLeaf);
}

.headerDeskNav a:hover {
	background-color: var(--colorFreshMint);
}

.headerDeskNav a:last-of-type:hover {
	background-color: var(--colorDeepForest);
}

/* Footer */

footer {
	color: white;
	height: 375px;
	background-color: var(--colorFernLeaf);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: var(--smallSpacer);
}

footer > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: var(--smallSpacer);
}

footer > div * {
	font-size: 0.75rem;
	color: white;
	margin: 0 var(--microSpacer);
}

footer > div a:hover {
	color: var(--colorClearSky);
}

/* Media */

@media screen and (min-width: 720px) {
	.headerFull {
		position: sticky;
		top: 0;
		z-index: 2000;
		height: 200px;
	}
	.headerMobNav {
		display: none;
	}
	.headerDeskNav {
		display: flex;
	}
	.velkommenHeader {
		height: 80px;
	}
}

@media screen and (min-width: 1024px) {
	.velkommenBlock1Sub {
		flex-direction: row;
	}
	.velkommenBlock2Sub {
		display: flex;
		margin: var(--tinySpacer);
	}
	footer {
		height: 220px;
		flex-direction: row;
		align-items: unset;
	}
}

@media screen and (min-width: 1280px) {
	footer > div * {
		margin: 0 var(--tinySpacer);
	}
}

@media screen and (min-width: 1601px) {
	body {
		background-image: url("../images/main/bg.png");
		background-color: var(--colorPaleStone);
	}
	.base {
		background-color: white;
		max-width: 1600px;
		justify-self: center;
		box-shadow: 0 0 15px 1px black;
	}
}
